---
title: Home
body_class: homepage
order: 1
---

{% include header.html %}
			
		<!-- Banner -->

            <div id="banner">
                <div class="container">
                    <section>
                        <header>
                            <h2>Saturday 18th July 2015</h2>
                            <span class="byline">A community conference by the sea</span>
                        </header>
                        <a href="https://phpsouthcoast2015.eventbrite.co.uk" class="button">Book&nbsp;your ticket&nbsp;now</a>
                    </section>
                </div>
            </div>
			
		<!-- Intro -->
			<div id="intro">
				<div class="container">
                    <div class="row">
                        <section class="6u">
                            <span class="image">
                                <img id="venue" src="images/action-stations-600.jpg" alt="Action Stations, Portsmouth">
                            </span>
                        </section>
                        <section class="6u">

                            <header>
                                <h2>When?</h2>
                            </header>
                            <div class="content">
                                <p>
                                    <em>Saturday 18th July 2015</em><br>
                                    Registration opens from 8am. There will be two captivating tracks for the day, and
                                    an opportunity to socialise in the evening.
                                </p>
                            </div>
                            <header>
                                <h2>Where?</h2>
                            </header>
                            <div class="content">
                                <p>
                                    Action Stations is a unique maritime venue housed in the magnificent Boathouse
                                    Number 6 in Portsmouth Historic Dockyard, featuring a 275 seat digital auditorium.
                                </p>
                            </div>
                        </section>
                    </div>
				</div>
			</div>

		<!-- Main -->
			<div id="main">
				<div class="container">

                    <header>
                        <h2>Run by the community</h2>
                    </header>

                    <!-- Row #1 -->
						<ul class="featured">
							<li>
                                <a href="http://phphants.co.uk/">
                                    <img src="images/php-hampshire.png" alt="PHP Hampshire logo" />
                                </a>
								<h3><a href="http://phphants.co.uk/">PHP Hampshire</a></h3>
								<p>PHP Hampshire meet every 2nd Wednesday of the month at Oasis the venue in Portsmouth.</p>
							</li>
							<li>
                                <a href="http://www.phpdorset.co.uk/">
                                    <img src="images/php-dorset.png" alt="PHP Dorset logo" />
                                </a>
								<h3><a href="http://www.phpdorset.co.uk/">PHP Dorset</a></h3>
								<p>PHP Dorset meet every 1st Monday of the month at Westbourne Library in Bournemouth.</p>
							</li>
							<li>
                                <a href="http://brightonphp.org/">
                                    <img src="images/brighton-php.png" alt="BrightonPHP logo" />
                                </a>
								<h3><a href="http://brightonphp.org/">BrightonPHP</a></h3>
								<p>BrightonPHP meet every 3rd Monday of the month at The Skiff in Brighton.</p>
							</li>
						</ul>
				
				</div>
			</div>

{% include footer.html %}
