---
body_class: no-sidebar information
title: Information
order: 3
menu: main
---

{% include header.html %}

<!-- Main -->
<div id="main">
    <div class="container">

        <!-- Content -->
        <div class="row">
            <div id="content" class="12u">
                <article>
                    <header>
                        <h2>{{page.title}}</h2>
                    </header>

                    <h3>Interactive Map</h3>

                    <iframe src="https://www.google.com/maps/d/embed?mid=zyLs0T-tMxb4.khezwXS0ta4M&amp;z=16&amp;ll=50.798924,-1.107286" class="googlemap"></iframe>

                    <h3>Location - Action Stations, Portsmouth Historic Dockyard</h3>
                    <p>
                        The conference will be held in <a href="http://www.actionstations.org/">Action Stations</a>,
                        which is a unique maritime venue housed in the magnificent Boathouse Number 6 in
                        <a href="http://www.historicdockyard.co.uk/">Portsmouth Historic Dockyard</a>, featuring a 275
                        seat digital auditorium. The dockyard is the home of the Royal Navy in Portsmouth and is open to
                        the general public which means visitors can immerse themselves in the maritime history of the
                        Royal Navy, including the <a href="http://www.maryrose.org/">Mary Rose Museum</a>,
                        <a href="http://www.hms-victory.com/">HMS Victory</a>,
                        <a href="http://www.hmswarrior.org/">HMS Warrior</a> and more.
                    </p>

                    <h3>Transport</h3>

                    <h4>By Rail</h4>
                    <p>
                        If coming by train, you'll need to come to <em>Portsmouth Harbour</em> station. The dockyard
                        entrance is about 100 yards from the train station exit.
                    </p>

                    <h4>By Car</h4>
                    <p>
                        Portsmouth Historic Dockyard is less than 5 miles from Junction 12 of the M27, follow the brown
                        and white signs to "Historic Dockyard" which will lead you to the
                        <a href="http://www.historicdockyard.co.uk/visitors/carparking.php">dockyard car park</a> on
                        Admiralty Road, which has 295 spaces and is 400 yards from the dockyard entrance. If this car
                        park is full, there are others nearby in
                        <a href="http://www.gunwharf-quays.com/getting-here">Gunwharf Quays shopping centre</a>,
                        Havant Street, and Wickham Street.
                    </p>

                    <h4>By Car with Park &amp; Ride</h4>
                    <p>
                        Portsmouth operates a park &amp; ride system which has services to The Hard Interchange. You
                        can find more information on the Park &amp; Ride scheme
                        <a href="http://parkandride.portsmouth.gov.uk/index.shtml">here</a>. Note that on Saturdays,
                        the last bus leaves at 22:30.
                    </p>

                    <h4>By Air (via Southampton Airport)</h4>
                    <p>
                        The closest airport is <a href="http://www.southamptonairport.com/">Southampton</a> which
                        serves many cities around the UK and Europe, mostly through Flybe and Ryanair. Transfer from the
                        airport can be via a pre-booked airport taxi, or you can catch a train from <em>Southampton
                        Airport Parkway</em> railway station to <em>Portsmouth Harbour</em> (change at
                        <em>Eastleigh</em>).
                    </p>

                    <h4>By Air (via London Gatwick Airport)</h4>
                    <p>
                        Alternatively, you may find flights to <a href="http://www.gatwickairport.com/">London Gatwick
                        Airport</a>, which has reasonably priced direct train links to <em>Portsmouth Harbour</em> (see
                        "By Rail" for more information).
                    </p>

                    <h4>By Coach</h4>
                    <p>
                        If you're coming by coach, you'll need to find a coach that goes to The Hard Interchange (or
                        Portsmouth Harbour). The coach and bus station is just across from the dockyard entrance.
                    </p>

                    <h4>By Ferry</h4>
                    <p>
                        If you're coming over from the Isle of Wight, you need to get either the passenger or car
                        ferry to the <em>Portsmouth</em> terminals. For international arrivals coming to the ferry
                        terminal, you will need to arrange a way of getting from the terminal to the conference as
                        the ferry terminal is on the north-west of the city.
                    </p>

                    <h3>Accommodation</h3>
                    <p>
                        These are several hotels nearby the venue which may suit your needs:
                    </p>
                    <ul class="styled">
                        <li><a href="http://www.shipleopardboutiquehotel.co.uk/">
                            The Ship Leopard Boutique Hotel</a> (1 minute walk)
                        </li>
                        <li><a href="http://www.keppelsheadhotel.co.uk/">Keppel's Head Hotel</a> (2 minute walk)</li>
                        <li><a href="http://www.thegeorgehotel.org.uk/">The George Hotel</a> (3 minute walk)</li>
                        <li><a href="http://www.royalmaritimeclub.co.uk/">Royal Maritime Club</a> (3 minute walk)</li>
                        <li><a href="http://www.holidayinn-expressportsmouth.co.uk/">
                            Holiday Inn Express Portsmouth Gunwharf Quays</a> (7 minute walk)
                        </li>
                        <li><a href="http://www.ibis.com/gb/hotel-1461-ibis-portsmouth-centre/index.shtml">
                            Ibis</a> (17 minute walk/5 minute drive)
                        </li>
                        <li><a href="http://www.ihg.com/holidayinn/hotels/us/en/portsmouth-hampshire/pmehp/hoteldetail">
                            Holiday Inn Portsmouth</a> (19 minute walk/5 minute drive)
                        </li>
                        <li><a href="http://www.premierinn.com/en/hotel/SOUCLA/southsea">
                            Premier Inn Southsea</a> (23 minute walk/6 minute drive)
                        </li>
                        <li><a href="http://www.queenshotelportsmouth.com/">
                            Queen's Hotel</a> (26 minute walk/10 minute drive)
                        </li>
                        <li><a href="http://www.travelodge.co.uk/hotels/62/Portsmouth-hotel">
                            Travelodge</a> (33 minute walk/7 minute drive)
                        </li>
                    </ul>

                    <h3>Nearby Restaurants</h3>
                    <p>
                        You can't beat Gunwharf Quays for selection of
                        <a href="http://www.gunwharf-quays.com/food-and-drink/restaurants">restaurants and food</a>,
                        located just a few minutes walk from the dockyard. Gunwharf Quays shopping centre has a range of
                        restaurants to suit all tastes including Azzurro, Cafe Rouge, Chiquito, Frankie &amp; Benny's,
                        Indian Palace, Jamie's Italian, La Tasca, Loch Fyne, Nandos, Pizza Express, Wagamama and Water
                        Margin.
                    </p>
                </article>
            </div>
        </div>

    </div>
</div><!-- /#main -->

{% include footer.html %}
