---
title: Schedule
order: 3
body_class: schedule
---

{% include header.html %}

<div id="main">
    <div class="container">
        <header>
            <h2>{{page.title}}</h2>
        </header>
    </div>

    <div class="container">
        <table class="default">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Spectrum IT Room</th>
                    <th>Magma Digital Room</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>8:00 - 9:00</td>
                    <td>Registration</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9:00</td>
                    <td>Opening address</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9:10</td>
                    <td class="talk" rowspan="5">
                        <div class="talk-heading">Keynote: Speaker Name</div>
                        Talk Title That Is Quite Long But Not Too Long
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>9:20</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9:30</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9:40</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9:50</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10:00</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>10:10</td>
                    <td class="talk" rowspan="5">
                        <div class="talk-heading">Speaker Name</div>
                        Another Talk Here
                    </td>
                    <td class="talk track2" rowspan="2">
                        <div class="talk-heading">Speaker Name</div>
                        OMG A Really Long Talk Title Is Here Just To Mess Up Your Layout For No Good Reason The End Foo Bar Baz KTHXBAI
                    </td>
                </tr>
                <tr>
                    <td>10:20</td>
                </tr>
                <tr>
                    <td>10:30</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10:40</td>
                    <td class="talk track2" rowspan="2">
                        <div class="talk-heading">Speaker Name</div>
                        Talk 2
                    </td>
                </tr>
                <tr>
                    <td>10:50</td>
                </tr>
                <tr>
                    <td>11:00 - 11:30</td>
                    <td colspan="2">Break</td>
                </tr>
                <tr>
                    <td>11:30</td>
                    <td class="talk" rowspan="5">
                        <div class="talk-heading">Speaker Name</div>
                        Talk 2
                    </td>
                    <td class="talk track2" rowspan="5">
                        <div class="talk-heading">Speaker Name</div>
                        Talk 3
                    </td>
                </tr>
                <tr>
                    <td>11:40</td>
                </tr>
                <tr>
                    <td>11:50</td>
                </tr>
                <tr>
                    <td>12:00</td>
                </tr>
                <tr>
                    <td>12:10</td>
                </tr>
                <tr>
                    <td>12:20 - 13:30</td>
                    <td colspan="2">Lunch</td>
                </tr>
                <tr>
                    <td>13:30</td>
                    <td class="talk" rowspan="5">
                        <div class="talk-heading">Speaker Name</div>
                        Talk 3
                    </td>
                    <td class="talk track2" rowspan="2">
                        <div class="talk-heading">Speaker Name</div>
                        Talk 4
                    </td>
                </tr>
                <tr>
                    <td>13:40</td>
                </tr>
                <tr>
                    <td>13:50</td>
                    <td></td>
                </tr>
                <tr>
                    <td>14:00</td>
                    <td class="talk track2" rowspan="2">
                        <div class="talk-heading">Speaker Name</div>
                        Talk 5
                    </td>
                </tr>
                <tr>
                    <td>14:10</td>
                </tr>
                <tr>
                    <td>14:20</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td>14:30</td>
                    <td class="talk" rowspan="5">
                        <div class="talk-heading">Speaker Name</div>
                        Talk 4
                    </td>
                    <td class="talk track2" rowspan="5">
                        <div class="talk-heading">Speaker Name</div>
                        Talk 6
                    </td>
                </tr>
                <tr>
                    <td>14:40</td>
                </tr>
                <tr>
                    <td>14:50</td>
                </tr>
                <tr>
                    <td>15:00</td>
                </tr>
                <tr>
                    <td>15:10</td>
                </tr>
                <tr>
                    <td>15:20 - 15:50</td>
                    <td colspan="2">Break</td>
                </tr>
                <tr>
                    <td>15:50</td>
                    <td class="talk" rowspan="5">
                        <div class="talk-heading">Speaker Name</div>
                        Talk 5
                    </td>
                    <td class="talk track2" rowspan="5">
                        <div class="talk-heading">Speaker Name</div>
                        Talk 7
                    </td>
                </tr>
                <tr>
                    <td>16:00</td>
                </tr>
                <tr>
                    <td>16:10</td>
                </tr>
                <tr>
                    <td>16:20</td>
                </tr>
                <tr>
                    <td>16:30</td>
                </tr>
                <tr>
                    <td>16:40 - 17:00</td>
                    <td colspan="2">Closing address</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="row">
            <article>
                <h3>After the Conference</h3>
                <p>After the conference there will be a dinner service and a social at Action Stations.</p>
            </article>
        </div>
    </div>
</div>

{% include footer.html %}
