---
title: Schedule
order: 3
body_class: schedule
---

{% include header.html %}

<div id="main">
    <div class="container">
        <header>
            <h2>{{page.title}}</h2>
        </header>
    </div>

    <div class="container">
        <table class="default">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Track 1</th>
                    <th>Track 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>8:00 - 9:00</td>
                    <td>Registration</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9:00 - 9:10</td>
                    <td>Opening address</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9:10 - 10:00</td>
                    <td>Keynote</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10:00</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>10:10</td>
                    <td rowspan="4">Talk 1</td>
                    <td rowspan="2">Talk 2</td>
                </tr>
                <tr>
                    <td>10:20</td>
                </tr>
                <tr>
                    <td>10:30</td>
                    <td rowspan="2">Talk 3</td>
                </tr>
                <tr>
                    <td>10:40</td>
                </tr>
                <tr>
                    <td>11:00 - 11:30</td>
                    <td>Break</td>
                    <td></td>
                </tr>
                <tr>
                    <td>11:30 - 12:20</td>
                    <td>Talk 4</td>
                    <td>Talk 5</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% include footer.html %}
