---
title: Schedule
order: 3
body_class: schedule
menu: main
---

{% include header.html %}

<div id="main">
    <div class="container">
        <header>
            <h2>{{page.title}}</h2>
        </header>
    </div>

    <div class="container">
        <table class="default">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Spectrum IT Room</th>
                    <th>Magma Digital Room</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>8:00 - 9:00</td>
                    <td>Registration &amp; refreshments</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9:00</td>
                    <td class="talk">Opening address</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9:10</td>
                    <td class="talk" rowspan="5">
                        <div class="talk-heading"><a href="/speakers/cal-evans/">Keynote: Cal Evans</a></div>
                        Down the Rabbit Hole: Lessons Learned combining Career and Community
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>9:20</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9:30</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9:40</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9:50</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10:00</td>
                    <td colspan="2">Room change</td>
                </tr>
                <tr>
                    <td>10:10</td>
                    <td class="talk" rowspan="5">
                        <div class="talk-heading"><a href="/speakers/rafael-dohms/">Rafael Dohms</a></div>
                        Composer the right way
                    </td>
                    <td class="talk track2" rowspan="2">
                        <div class="talk-heading"><a href="/speakers/joe-watkins/">Joe Watkins</a></div>
                        Parallel PHP
                    </td>
                </tr>
                <tr>
                    <td>10:20</td>
                </tr>
                <tr>
                    <td>10:30</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10:40</td>
                    <td class="talk track2" rowspan="2">
                        <div class="talk-heading"><a href="/speakers/erika-heidi/">Erika Heidi</a></div>
                        The Art of Programming
                    </td>
                </tr>
                <tr>
                    <td>10:50</td>
                </tr>
                <tr>
                    <td>11:00 - 11:30</td>
                    <td colspan="2">Break &amp; refreshments</td>
                </tr>
                <tr>
                    <td>11:30</td>
                    <td class="talk" rowspan="5">
                        <div class="talk-heading"><a href="/speakers/jeroen-van-dijk/">Jeroen van Dijk</a></div>
                        Teaming up Backbone.js and the new WordPress API
                    </td>
                    <td class="talk track2" rowspan="5">
                        <div class="talk-heading"><a href="/speakers/david-yell/">David Yell</a></div>
                        Don't code, bake. An introduction to CakePHP
                    </td>
                </tr>
                <tr>
                    <td>11:40</td>
                </tr>
                <tr>
                    <td>11:50</td>
                </tr>
                <tr>
                    <td>12:00</td>
                </tr>
                <tr>
                    <td>12:10</td>
                </tr>
                <tr>
                    <td>12:20 - 13:30</td>
                    <td colspan="2">Lunch service</td>
                </tr>
                <tr>
                    <td>13:30</td>
                    <td class="talk" rowspan="5">
                        <div class="talk-heading"><a href="/speakers/phil-sturgeon/">Phil Sturgeon</a></div>
                        API Pain Points
                    </td>
                    <td class="talk track2" rowspan="2">
                        <div class="talk-heading"><a href="/speakers/jenny-wong/">Jenny Wong</a></div>
                        Sharing Knowledge
                    </td>
                </tr>
                <tr>
                    <td>13:40</td>
                </tr>
                <tr>
                    <td>13:50</td>
                    <td></td>
                </tr>
                <tr>
                    <td>14:00</td>
                    <td class="talk track2" rowspan="2">
                        <div class="talk-heading"><a href="/speakers/grant-kemp/">Grant Kemp</a></div>
                        Who is the real Winner? How to Use Google Analytics and PHP to Track X-factor
                    </td>
                </tr>
                <tr>
                    <td>14:10</td>
                </tr>
                <tr>
                    <td>14:20</td>
                    <td colspan="2">Room change</td>
                </tr>
                <tr>
                    <td>14:30</td>
                    <td class="talk" rowspan="5">
                        <div class="talk-heading"><a href="/speakers/erika-heidi/">Erika Heidi</a></div>
                        Vagrant Provisioning with Ansible
                    </td>
                    <td class="talk track2" rowspan="5">
                        <div class="talk-heading"><a href="/speakers/dan-ackroyd/">Dan Ackroyd</a></div>
                        Dependency injection, the right way.
                    </td>
                </tr>
                <tr>
                    <td>14:40</td>
                </tr>
                <tr>
                    <td>14:50</td>
                </tr>
                <tr>
                    <td>15:00</td>
                </tr>
                <tr>
                    <td>15:10</td>
                </tr>
                <tr>
                    <td>15:20 - 15:50</td>
                    <td colspan="2">Break &amp; refreshments</td>
                </tr>
                <tr>
                    <td>15:50</td>
                    <td class="talk" rowspan="5">
                        <div class="talk-heading"><a href="/speakers/lorna-mitchell/">Lorna Mitchell</a></div>
                        Advanced Adventures in Git
                    </td>
                    <td class="talk track2" rowspan="5">
                        <div class="talk-heading"><a href="/speakers/harrie-verveer/">Harrie Verveer</a></div>
                        Database version control without pain?
                    </td>
                </tr>
                <tr>
                    <td>16:00</td>
                </tr>
                <tr>
                    <td>16:10</td>
                </tr>
                <tr>
                    <td>16:20</td>
                </tr>
                <tr>
                    <td>16:30</td>
                </tr>
                <tr>
                    <td>16:40 - 17:00</td>
                    <td class="talk">Closing address - all to attend please</td>
                    <td></td>
                </tr>
                <tr>
                    <td>17:00 - 23:00</td>
                    <td class="talk social" colspan="2">
                        <div class="talk-heading">After-Conference Social &amp; Dinner</div>

                        <div class="social-activity">Dinner service</div>
                        <p>
                            A complimentary dinner service will be provided in the main hall from 17:30 - 19:00.
                        </p>

                        <div class="social-activity">Laser Quest, sponsored by <a href="https://www.digitalocean.com/">Digital Ocean</a></div>
                        <p>
                            To partake in the free laser quest activity, please go to the main registration desk to sign
                            up. You can form your own team, or just join in with a game. Make sure to thank Digital
                            Ocean for sponsoring this activity!
                        </p>

                        <div class="social-activity">Board games &amp; card games, provided by <a href="https://www.facebook.com/FistfulOfDice">A Fistful of Dice</a></div>
                        <p>
                            Board and card games are free to play in the Magma Digital room after the conference ends.
                            These are provided by a local games shop in Portsmouth, A Fistful of Dice.
                        </p>

                        <div class="social-activity">Bottle bar service</div>
                        <p>
                            A cash bottle bar will open immediately after the closing address at 17:00 in the main hall
                            serving a selection of beer, cider, wine and soft drinks.
                        </p>
                    </td>
                </tr>
                </tr>
                <tr>
                    <td>23:00</td>
                    <td colspan="2">Dockyard curfew</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% include footer.html %}
