---
title: Sponsors
order: 2
body_class: sponsors
menu: main
---

{% include header.html %}
<!--<div id="intro">
    <div class="container">
        <section>
            <header>
                <h2>Would you like to sponsor us?</h2>
            </header>
            <a href="/media/sponsorship-package.pdf" class="button" style="cursor: pointer;">Download the sponsorship
                package</a>
        </section>
    </div>
</div>-->

<!-- Main -->
<div id="main">
    <div class="container">
        <header>
            <h2>{{page.title}}</h2>
        </header>
        <p>We are kindly sponsored by...</p>
    </div>

    <div class="platinum-header">
        <div class="container">
            <h3>Platinum</h3>
        </div>
    </div>
    <div class="container platinum">
        <div class="row">
            <article>
                <span class="image left">
                    <a href="http://www.spectrumit.co.uk" target="_blank">
                        <img src="/images/sponsors/spectrumit.png" title="Spectrum IT" alt="Spectrum IT"/>
                    </a>
                </span>

                <p>Spectrum IT Recruitment is an IT &amp; technology focused recruitment consultancy working primarily
                    across Hampshire and the South East. Over 70% of our work is software engineering and development
                    biased; providing a wealth of job opportunities for the highly talented IT community in the region.
                    We are committed to supporting the local IT community and providing our candidates with the platform
                    to achieve their career goals and aspirations.</p>
            </article>
        </div>
    </div>
    <div class="gold-header">
        <div class="container">
            <h3>Gold</h3>
        </div>
    </div>
    <div class="container gold">
        <div class="row">
            <div class="6u">
                <span class="image">
                    <a href="http://www.magmadigital.co.uk" target="_blank">
                        <img src="/images/sponsors/magma.png" title="Magma Digital" alt="Magma Digital"/>
                    </a>
                </span>

                <p>
                    Magma Digital Ltd are a bespoke PHP development agency based in Preston. They specialise in
                    developing, improving and fixing business critical systems. Magma Digital also plays a key role in
                    the PHPNW Community, organising the annual PHPNW Conference and the monthly Usergroup. The
                    Conference, now in it's 8th year, attracts over 420 delegates from around the world. We look forward
                    to seeing you on the day!
                </p>
            </div>
            <div class="6u">
                <span class="image">
                    <a href="http://www.edigitalresearch.com" target="_blank">
                        <img src="/images/sponsors/edigitalresearch.png" title="eDigitalResearch"
                             alt="eDigitalResearch"/>
                    </a>
                </span>

                <p>eDigitalResearch are leading providers of technology-driven Voice of the Customer feedback
                    programmes; empowering businesses to make critical decisions through informed direction. By
                    combining our technology platform with focused insight and thought leadership, we're able to provide
                    a truly unique solution – from Voice of the Customer feedback and real-time Customer Experience
                    Management to Panels and Communities.</p>
            </div>
        </div>
        <div class="row">
            <div class="6u">
                <span class="image">
                    <a href="http://www.getpantheon.com" target="_blank">
                        <img src="/images/sponsors/pantheon.png" title="Pantheon" alt="Pantheon"/>
                    </a>
                </span>

                <p>
                    Pantheon is the website management platform top developers, marketers, and IT use to build, launch
                    and run all their Drupal & WordPress websites.
                </p>
                <p>
                    Pantheon includes all of the tools professional developers need to build best-practice sites—like
                    staging environments, version control, backups and workflow. Powering 80,000+ sites with hundreds of
                    millions of pageviews, Pantheon’s container-based infrastructure allows you to launch websites
                    faster, without worrying about traffic spikes, security or performance. It’s free in development.
                    You can scale in software on the same infrastructure from day one, and never touch a server again.
                </p>
            </div>

            <div class="6u">
                <span class="image">
                    <a href="http://viaduct.io" target="_blank">
                        <img src="/images/sponsors/viaduct.png" title="Viaduct" alt="Viaduct"/>
                    </a>
                </span>

                <p>
                    Viaduct is a hosting platform built by developers, for developers. Deploying, debugging & scaling
                    your infrastructure has never been this simple. You worry about building your apps & websites, we’ll
                    worry about everything else. It's completely free to deploy small apps so try with your app or just
                    deploy a new Wordpress site with a few clicks.
                </p>
            </div>
        </div>
    </div>
    <div class="silver-header">
        <div class="container">
            <h3>Silver</h3>
        </div>
    </div>
    <div class="container silver">
        <div class="row">
            <div class="4u">
                <span class="image">
                    <a href="http://www.engineyard.com" target="_blank">
                        <img src="/images/sponsors/engine-yard.png" title="Engine Yard" alt="Engine Yard"/>
                    </a>
                </span>
            </div>
            <div class="4u">
                <span class="image">
                    <a href="http://mandrill.com" target="_blank">
                        <img src="/images/sponsors/mandrill.png" title="Mandrill" alt="Mandrill"/>
                    </a>
                </span>
            </div>
            <div class="4u">
                <span class="image placeholder">
                    TBC
                </span>
            </div>
        </div>
    </div>
    <div class="bronze-header">
        <div class="container">
            <h3>Bronze</h3>
        </div>
    </div>
    <div class="container bronze">
        <div class="row">
            <div class="3u">
                <span class="image">
                    <a href="http://19ft.com" target="_blank">
                        <img src="/images/sponsors/19ft.jpg" title="Nineteen Feet" alt="Nineteen Feet"/>
                    </a>
                </span>
            </div>
            <div class="3u">
                <span class="image">
                    <a href="http://builtbybuffalo.com" target="_blank">
                        <img src="/images/sponsors/buffalo.png" title="Built by Buffalo" alt="Built by Buffalo"/>
                    </a>
                </span>
            </div>
            <div class="3u">
                <span class="image">
                    <a href="http://www.jetbrains.com" target="_blank">
                        <img src="/images/sponsors/jetbrains.png" title="JetBrains" alt="JetBrains"/>
                    </a>
                </span>
            </div>
            <div class="3u">
                <span class="image">
                    <a href="http://www.student-crm.co.uk/" target="_blank">
                        <img src="/images/sponsors/dataharvesting.png" title="Data Harvesting" alt="Data Harvesting"/>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="community-partners">
        <div class="container">
            <h3>Community Partners</h3>

            <div class="row">
                <div class="2u">
                    <span class="image">
                        <a href="http://www.phpnw.org.uk" target="_blank">
                            <img src="/images/ugs/phpnw.png" title="PHP North West" alt="PHP North West"/>
                        </a>
                    </span>
                </div>
                <div class="2u">
                    <span class="image">
                        <a href="http://www.phphants.co.uk" target="_blank">
                            <img src="/images/ugs/php-hampshire.png" title="PHP Hampshire" alt="PHP Hampshire"/>
                        </a>
                    </span>
                </div>
                <div class="2u">
                    <span class="image">
                        <a href="http://www.phpdorset.co.uk" target="_blank">
                            <img src="/images/ugs/php-dorset.png" title="PHP Dorset" alt="PHP Dorset"/>
                        </a>
                    </span>
                </div>
                <div class="2u">
                    <span class="image">
                        <a href="http://brightonphp.org" target="_blank">
                            <img src="/images/ugs/brighton-php.png" title="Brighton PHP" alt="Brighton PHP"/>
                        </a>
                    </span>
                </div>
                <div class="2u">
                    <span class="image">
                        <a href="http://phpsw.org.uk" target="_blank">
                            <img src="/images/ugs/phpsw.png" title="PHP South West" alt="PHP South West"/>
                        </a>
                    </span>
                </div>
                <div class="2u">
                    <span class="image">
                        <a href="http://phpwomen.org" target="_blank">
                            <img src="/images/ugs/phpwomen.png" title="PHP Women" alt="PHP Women"/>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div><!-- /#main -->

{% include footer.html %}
