---
title: Sponsors
order: 2
body_class: sponsors
---

{% include header.html %}
<div id="intro">
    <div class="container">
        <section>
            <header>
                <h2>Would you like to sponsor us?</h2>
            </header>
            <a href="/media/sponsorship-package.pdf" class="button" style="cursor: pointer;">Download the sponsorship
                package</a>
        </section>
    </div>
</div>

<!-- Main -->
<div id="main">
    <div class="container">
        <header>
            <h2>{{page.title}}</h2>
        </header>
        <p>We are kindly sponsored by...</p>
    </div>

    <div class="platinum">
        <div class="container">
            <h3>Platinum</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <article>
                <span class="image left">
                    <a href="http://www.spectrumit.co.uk" target="_blank">
                        <img src="/images/sponsors/spectrumit.png" title="Spectrum IT" alt="Spectrum IT"/>
                    </a>
                </span>

                <p>Spectrum IT Recruitment is an IT &amp; technology focused recruitment consultancy working primarily
                    across Hampshire and the South East. Over 70% of our work is software engineering and development
                    biased; providing a wealth of job opportunities for the highly talented IT community in the region.
                    We are committed to supporting the local IT community and providing our candidates with the platform
                    to achieve their career goals and aspirations.</p>
            </article>
        </div>
    </div>
    <div class="gold">
        <div class="container">
            <h3>Gold</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="3u">
                <span class="image left">
                    <a href="http://www.magmadigital.co.uk/" target="_blank">
                        <img src="/images/sponsors/magma.png" title="Magma Digital" alt="Magma Digital"/>
                    </a>
                </span>
            </div>
            <div class="3u">
                <p>
                    Magma Digital Ltd are a bespoke PHP development agency based in Preston. They specialise in
                    developing, improving and fixing business critical systems. Magma Digital also plays a key role in
                    the PHPNW Community, organising the annual PHPNW Conference and the monthly Usergroup. The
                    Conference, now in it's 8th year, attracts over 420 delegates from around the world. We look forward
                    to seeing you on the day!
                </p>
            </div>
            <div class="6u">
                <h3>Available</h3>

                <p>Sponsorship packages are available at this level</p>
            </div>
        </div>
    </div>
    <div class="silver">
        <div class="container">
            <h3>Silver</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="4u">
                <h3>Available</h3>

                <p>Sponsorship packages are available at this level</p>
            </div>
            <div class="4u">
                <h3>Available</h3>

                <p>Sponsorship packages are available at this level</p>
            </div>
            <div class="4u">
                <h3>Available</h3>

                <p>Sponsorship packages are available at this level</p>
            </div>
        </div>
    </div>
    <div class="bronze">
        <div class="container">
            <h3>Bronze</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="3u">
                    <span class="image">
                        <a href="http://19ft.com" target="_blank">
                            <img src="/images/sponsors/19ft.jpg" title="Nineteen Feet" alt="Nineteen Feet"/>
                        </a>
                    </span>
            </div>
            <div class="3u">
                    <span class="image">
                        <a href="http://builtbybuffalo.com" target="_blank">
                            <img src="/images/sponsors/buffalo.png" title="Built by Buffalo" alt="Nineteen Feet"/>
                        </a>
                    </span>
            </div>
            <div class="3u">
                <h3>Available</h3>

                <p>Sponsorship packages are available at this level</p>
            </div>
            <div class="3u">
                <h3>Available</h3>

                <p>Sponsorship packages are available at this level</p>
            </div>
        </div>
    </div>
</div><!-- /#main -->

{% include footer.html %}
