---
title: Dan Ackroyd
body_class: speaker
avatar: /images/speakers/dan-ackroyd.jpg
bio: |
  Recovering video game programmer. Maintainer of the Imagick extension. Has a beard.
talk_title: Dependency injection, the right way.
talk_abstract: |
  Dependency injection is a powerful tool that helps you to write code that is more reliable, easier to test and easier to re-use. Unforunately a lot of people haven't been taught how to do dependency injection properly and so they're missing out.

  The first part of the talk covers:

    * The difference between code being understandable and easy to reason about.
    * Why not using dependency injection leads to code being hard to reason about, even if it is understandable.
    * The requirements for doing dependency injection properly. Hint! It doesn't involve using a Service Locator.
    * An introduction to the <a href="https://github.com/rdlowrey/auryn">Auryn dependency injection library</a> and how to use it.

  The second part covers refactoring some code that does not use dependency injection very well to try and make it better. In particular how:
    * Depending on interfaces rather than classes leads to less coupling and easier testing.
    * Delegation can remove boiler plate code from being spread around your application.
    * Injecting factory objects isn't a Java anti-pattern, it's a vital part of OO abstraction.
---

{% include header.html %}

{% include speaker.html %}

{% include footer.html %}
