---
title: David Yell
body_class: speaker
avatar: /images/speakers/david-yell.jpg
bio: |
  A self taught web developer from the era of Geocities. Now a full time developer building all manner of applications, apis and integrating with all the things. I love using CakePHP and building things to make people happy.
talk_title: Don't code, bake. An introduction to CakePHP
talk_abstract: |
  An overview of the CakePHP framework starting at the beginning and covering both the current stable and new 3.x releases. I will highlight the changes between the major versions as well as some of my favourite features and why I think the framework is great. Hopefully it will make you think twice about CakePHP and dispel some of the myths.
---

{% include header.html %}

{% include speaker.html %}

{% include footer.html %}
