---
title: Erika Heidi
body_class: speaker
avatar: /images/speakers/erika-heidi.jpg
bio: |
  Erika Heidi is a web developer / devOp working with PHP and Linux for over a decade. Author of the <a href="https://leanpub.com/vagrantcookbook">Vagrant Cookbook</a> and open source projects like <a href="http://phansible.com/">phansible</a> and <a href="http://dev-human.com/">dev-human</a>, she worked many years as an independent developer, experimenting with a large diversity of projects and tools. Erika is an active open source contributor, speaker and writer, working now as developer advocate for DigitalOcean.
talk_title: The Art of Programming
talk_abstract: |
  One of the most consolidated misconceptions about programming, since the early days, is the idea that such activity is purely technical, completely exact in nature, like Math and Physics. Computation is exact, but programming is not. The first is a result of a machine operation, and the latter is still a human activity.

  This talk will present programming under a different perspective, showing the importance of creativity and curiosity for building an excellent developer. You'll find out that software engineering has much more to do with art than you thought.
has_talk2: true
talk_title2: Vagrant Provisioning with Ansible
talk_abstract2: |
  Vagrant is getting more and more popular every day, reaching the status of de-facto tool for virtualized environments created for development purposes - you can finally forget about setting the right environment and focus on what you do best: code.

  However, many developers still step back from this great tool after having a bad experience with tools like Puppet and Chef. This talk will present you Ansible, a clean and straightforward automation tool that can be used along with Vagrant to spin up development vms. You you will learn how to get started with Ansible and write your first playbooks to provision a Vagrant environment.
---

{% include header.html %}

{% include speaker.html %}

{% include footer.html %}
