---
title: Grant Kemp
body_class: speaker
avatar: /images/speakers/grant-kemp.jpg
bio: |
  A Mobile and Omnichannel specialist who loves talking about innovation and improving how customers interact with technology. Run's one of the largest hackathon groups in the country as well as a popular blog about Digital Innovation, Connectedwindow.com.
talk_title: Who is the real Winner? How to Use Google Analytics and PHP to Track X-factor
talk_abstract: |
  Google's new measurement protocol allows you to track everything including your fridge, your car, pretty much anything.

  Using Google Analytics Measurement protocol, I will walk you through the steps of setting up and tracking X-factor so you can see just how powerful measurement protocol is and answer those critical questions like: Just who is the best Judge? Does Simon Cowell actually know what he is talking about, and which position is the best place to come if you want to top the charts.
---

{% include header.html %}

{% include speaker.html %}

{% include footer.html %}
