---
title: Harrie Verveer
body_class: speaker
avatar: /images/speakers/harrie-verveer.jpg
bio: |
  Harrie Verveer has been working with PHP as a professional since 2004. First at Ibuildings, and since 2012 he moved to bax-shop.nl - a large web shop for sound, stage and studio equipment in Europe. Harrie helped organizing the Dutch PHP Conference in 2011 and 2012 and is a regular speaker at conferences and user group events around the world, where he shares his experience and knowledge gained from working with a wide variety of technologies.
talk_title: Database version control without pain?
talk_abstract: |
  We've all read the textbooks and are using version control systems for our code, but our databases are left out in the cold. Every team has their own workaround, ranging from patch files to SQL snippets in the bugtracker, but none is really robust. There isn't a silver bullet solution, but this talk will show you different approaches and tools that you can use in different kinds of projects, helping you to handle the changes in your database structure in a more sophisticated way.
joindin: https://joind.in/talk/view/13591
---

{% include header.html %}

{% include speaker.html %}

{% include footer.html %}
