---
title: Jenny Wong
body_class: speaker
avatar: /images/speakers/jenny-wong.jpg
bio: |
  Jenny is a web developer at <a href="https://hmn.md/">Human Made</a>. Her love for development goes beyond the screen & is an advocate for both the PHP and WordPress communities. As a speaker & conference organiser, she loudly cheers people on to share knowledge & contribute back to their communities.
talk_title: Sharing Knowledge
talk_abstract: |
  The open source community works because of the amount of knowledge that is shared between people. Although everyone has knowledge and experiences to share, many do not feel they have anything worthy of saying.

  In this talk, I will show that everyone has something to share, how to generate talk topics based on conversations you have every day with your peers, and discuss the different methods of sharing - not all of it is on a stage.

  I will also discuss the impact of the share mentality and how it is helpful even for your business.
joindin: https://joind.in/talk/view/13586
---

{% include header.html %}

{% include speaker.html %}

{% include footer.html %}
