---
title: Jeroen van Dijk
body_class: speaker
avatar: /images/speakers/jeroen-van-dijk.jpg
bio: |
  Jeroen van Dijk is Technical Consultant at Enrise, a Netherlands-based open source development company, and board-member of the PHPBenelux team. He has been doing development with PHP for more then 15 years, with a passion for high-performance and high-volume web applications based on open source. When not expanding his knowledge about internet techniques Jeroen can be found at a squash court taking out his opponents!
talk_title: Teaming up Backbone.js and the new WordPress API
talk_abstract: |
  WordPress is an absolutely powerful platform to publish content, but up till now it lacked the ability to publish and read content using a proper restful API. That is about to change. For WordPress 4.2 the new WP-API is slated to be part of the core creating an easy access layer from a decoupled frontend.
  And a mobile app is of course such a decoupled frontend!

  This talk will show you how to leverage the power of the WordPress API to build an app in Appcelerator Titanium which uses Backbone.js as it's way of syncing. We'll go through the WP API basics, custom post types, proper API logic and offline strategies for your first app. Connecting the dots into Backbone.js is then a piece of cake!
---

{% include header.html %}

{% include speaker.html %}

{% include footer.html %}
