---
title: Joe Watkins
body_class: speaker
avatar: /images/speakers/joe-watkins.jpg
bio: |
  I am krakjoe.
talk_title: Parallel PHP
talk_abstract: |
  Non-blocking, asynchronous, event driven, and parallel are all terms that appear to be somewhat confused in the collective mind of the PHP community.

  I set out to clear up the confusion, giving an easy to understand explanation of these common terms, and going on to talk about how to achieve parallel concurrency in PHP.
---

{% include header.html %}

{% include speaker.html %}

{% include footer.html %}
