---
title: Lorna Mitchell
body_class: speaker
avatar: /images/speakers/lorna-mitchell.jpg
bio: |
  Lorna is based up north in Leeds; she is the Principal Developer at Siftware, a published author, web development consultant and technical trainer. She brings her technical expertise to audiences all over the world with her writing and speaking engagements, delivering topics from git to web development and tools, all with a very practical slant. In her spare time, Lorna runs the joind.in open source project and blogs at http://lornajane.net.
talk_title: Advanced Adventures in Git
talk_abstract: |
  Boost your git skills in this session where we pick out some of the most handy but underused features of an excellent tool. If you're confident committing, branching and merging, then come along and collect the next set of skills, to include bisect, rebasing, adding patches rather than files, the rerere command, and some tricks for handling multiple remotes. We'll also look at using configuration files: your own config, the gitignore file and how to teach gitattributes about the different types of file in your project. Anyone using git on a regular basis will learn some new tricks in this session.
---

{% include header.html %}

{% include speaker.html %}

{% include footer.html %}
