---
title: Phil Sturgeon
body_class: speaker
avatar: /images/speakers/phil-sturgeon.jpg
bio: |
  Phil has contributed to CodeIgniter, FuelPHP, Laravel and handfuls of other projects, to try and make the PHP community a better place. These days he tries to avoid frameworks, but contributes to standards and promotes modern best practices.
talk_title: API Pain Points
talk_abstract: |
  I’ve been building APIs for a long time now and it is becoming ever more common for server-side developer thanks to the rise of front-end JavaScript frameworks, iPhone applications and generally API-centric architectures. On one hand you’re just grabbing stuff from a data source and shoving it out as JSON, but surviving changes in business logic, database schema updates, new or deprecated etc gets super difficult.

  This talk will outline the common pitfalls developers get trapped in when building APIs and outline methods to avoid them, including POST/PUT/PATCH, data structures, embedding data in the response or sub-resource the URLs, sane file uploads, HATEOAS, how to utilize OAuth, etc.
---

{% include header.html %}

{% include speaker.html %}

{% include footer.html %}
