---
title: Rafael Dohms
body_class: speaker
avatar: /images/speakers/rafael-dohms.jpg
bio: |
  Rafael Dohms is an experienced PHP Developer, Evangelist, Speaker, and Contributor. During his years of experience, he has become an active member of the community and founded three user groups. He moved to the Netherlands in search of new challenges and to share his passion for code quality and innovation. In his spare time, he also helps manage the AmsterdamPHP User Group, amongst other projects.
talk_title: Composer the right way
talk_abstract: |
  Composer has triggered a renaissance in the PHP community, it has changed the way we deal with other people’s code and it has changed the way we share our code. We are all slowly moving to using Composer, from Wordpress to Joomla and Drupal and frameworks in between. But many of us mistreat composer, follow outdated practices or simply lack a few tricks. In this session i’ll get you the low down on how to use composer the right way.
joindin: https://joind.in/talk/view/13580
---

{% include header.html %}

{% include speaker.html %}

{% include footer.html %}
