---
title: Michael Jackson
body_class: speaker
---

{% include header.html %}

<!-- Main -->
<div id="main">
    <div class="container">

        <!-- Content -->
        <div class="row">
            <div id="content" class="12u">
                <article>
                    <header>
                        <h2>Speaker : Michael Jackson</h2>
                    </header>
                    <img src="https://cfp.phpsouthcoast.co.uk/uploads/James.Titcumb54895fad4c21a.png" alt="Michael Jackson" class="speaker-avatar" />
                    <p>Michael Joseph Jackson (August 29, 1958 – June 25, 2009) was an American singer, songwriter, record producer, dancer,
                        and actor. Called the King of Pop, his contributions to music and dance, along with his publicized personal life,
                        made him a global figure in popular culture for over four decades.</p>
                    <br class="clear" />

                    <h2>Talk : The Finer Points of Pop Singing</h2>
                    <p>Jackson's 1982 album Thriller is the best selling album of all time. His other albums, including Off the Wall (1979),
                        Bad (1987), Dangerous (1991), and HIStory (1995), also rank among the world's best selling albums. Jackson is one of
                        the few artists to have been inducted into the Rock and Roll Hall of Fame twice. He was also inducted into the
                        Songwriters Hall of Fame and the Dance Hall of Fame as the first and only dancer from pop and rock music.</p>

                    <h2>Talk : Thriller! How to do the dance</h2>
                    <p>Here you will learn the basic steps to Michael Jackson's Thriller dance.</p>
                </article>
            </div>
        </div>

    </div>
</div><!-- /#main -->

{% include footer.html %}
