
		<!-- Footer -->
			<section id="footer">
				<div class="container">

                    <!-- Social -->
					<section>
						<ul class="social">
							<li><a href="https://www.facebook.com/events/1515839875358660/" class="icon fa-facebook"><span>Facebook</span></a></li>
							<li><a href="https://twitter.com/phpsouthcoast" class="icon fa-twitter"><span>Twitter</span></a></li>
						</ul>
					</section>
						
					<!-- Copyright -->
					<div class="copyright">
						&copy; PHP South Coast conference. This website is on <a href="https://github.com/phphants/php-south-coast-2015">GitHub</a>
					</div>

				</div>
			</section>
			
<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">
twttr.conversion.trackPid('l5prz', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l5prz&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l5prz&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" /></noscript>

	</body>
</html>
