
		<!-- Footer -->
			<section id="footer">
				<div class="container">

                    <!-- Social -->
					<section>
						<ul class="social">
							<li><a href="https://www.facebook.com/events/1515839875358660/" class="icon fa-facebook"><span>Facebook</span></a></li>
							<li><a href="https://twitter.com/phpsouthcoast" class="icon fa-twitter"><span>Twitter</span></a></li>
						</ul>
					</section>
						
					<!-- Copyright -->
					<div class="copyright">
						&copy; PHP South Coast conference. This website is on <a href="https://github.com/phphants/php-south-coast-2015">GitHub</a>
					</div>

				</div>
			</section>

	</body>
</html>
